body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    margin-top: 10%;
    justify-content: center;
    border: 1px solid ;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}